<!-- Skeleton -->
<div *ngIf="loading" class="flex flex-col gap-4">
  <div *ngFor="let n of [1,2,3,4,5,6,7,8,9,10,11,12,13]" class="rounded-md p-4 shadow-md bg-white flex flex-col gap-2 animate-pulse">
    <div class="flex items-center justify-between gap-4">
      <div class="w-1/12 text-center font-semibold">
        <p-skeleton width="1rem" height="1rem"></p-skeleton>
      </div>

      <div class="flex-1 flex items-center gap-3">
        <div class="w-10 h-10 rounded-full bg-gray-300">
          <p-skeleton shape="circle" width="40px" height="40px"></p-skeleton>
        </div>
        <p-skeleton width="150px" height="1.2rem"></p-skeleton>
      </div>

      <div class="shrink-0 w-8 text-right">
        <p-skeleton width="24px" height="24px"></p-skeleton>
      </div>
    </div>

    <!-- <div class="mt-2">
      <p-skeleton width="100%" height="200px" [style]="{ 'border-radius': '12px' }"></p-skeleton>
    </div> -->
  </div>
</div>

<!-- Lista real -->

<div cdkDropList
     [cdkDropListData]="items"
     (cdkDropListDropped)="onDrop($event)"
     class="flex flex-col gap-4"
>
  <div *ngFor="let item of items; let index = index" cdkDragHandle
       cdkDrag
       class="rounded-md p-4 shadow-md bg-white item"
  >
    <!-- Header -->
    <div class="flex items-center justify-between gap-4">
      <!-- <div cdkDragHandle class="cursor-move text-gray-500">
        <i class="fa-solid fa-bars"></i>
      </div> -->

      <div class="w-1/12 text-center font-semibold">{{ index + 1 }}º</div>

      <div class="flex-1 flex items-center gap-3">
        <div class="dash-logo shrink-0">
          <img class="img-logo" [src]="item.icon" alt="logo" />
        </div>
        <span class="truncate">{{ item.name }}</span>
      </div>

      <div class="shrink-0 w-8 text-right">
        <ng-container *ngIf="showPlayer && itemClickedId === item.id; else play">
          <i class="fas fa-circle-xmark text-red-400 text-2xl cursor-pointer"
             (click)="emitPlayerClick(item, 'close')"></i>
        </ng-container>
        <ng-template #play>
          <i class="fas fa-circle-play play-btn text-2xl cursor-pointer"
             (click)="emitPlayerClick(item, 'play')"></i>
        </ng-template>
      </div>
    </div>

    <!-- Player -->
    <div *ngIf="showPlayer && itemClickedId === item.id" class="mt-2">
      <p-skeleton *ngIf="iframeLoading" width="100%" height="200px" [style]="{ 'border-radius': '12px' }"></p-skeleton>
      <iframe
        [src]="getSpotifyEmbedUrl(item.albumId)"
        width="100%"
        height="200"
        frameborder="0"
        style="border-radius:12px"
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        loading="lazy"
        (load)="onIframeLoad()"
      ></iframe>
    </div>
  </div>
</div>
