<!-- <div class="flex"> -->
  <!-- Share Btn -->
  <!-- <div class="flex justify-center mb-3">
    <p-button icon="fa fa-download"  [style]="{ 'background-color': '#7D5FFF', 'border': '1px solid #7D5FFF',  'border-radius': '50%', 'padding': '10px'}"
      tooltip="Compatilhar" (onClick)="capturarImagem()">
    </p-button>
  </div> -->

  <!-- Share Btn -->
  <!-- <div class="flex justify-center mb-3">
    <p-button icon="fa-brands fa-x-twitter"  [style]="{ 'background-color': '#7D5FFF', 'border': '1px solid #7D5FFF',  'border-radius': '50%', 'padding': '10px'}"
      tooltip="Compatilhar" (onClick)="compartilharNoTwittwer()">
    </p-button>
  </div> -->

<!-- </div> -->

<!-- Botão Flutuante -->
<div class="fixed top-18 left-2 z-50 mb-2">

  <!-- Botão principal -->
  <p-button icon="fa fa-share"
            [style]="{
              'background-color': '#7D5FFF',
              'border-radius': '50%',
              'padding': '10px',
              'border': '1px solid #7D5FFF',
              'margin-bottom': '8px' }"
            (onClick)="fabOpen = !fabOpen"
            tooltip="Compartilhar">
  </p-button>
  <!-- Botões internos -->
  <div *ngIf="fabOpen" class="flex flex-col items-center mb-2 space-y-2">
    <p-button icon="fa fa-download"
              [style]="{ 'background-color': '#7D5FFF', 'border': '1px solid #7D5FFF', 'border-radius': '50%', 'padding': '10px' }"
              tooltip="Capturar imagem"
              (onClick)="capturarImagem()">
    </p-button>

    <p-button icon="fa-brands fa-x-twitter"
              [style]="{ 'background-color': '#7D5FFF', 'border': '1px solid #7D5FFF', 'border-radius': '50%', 'padding': '10px' }"
              tooltip="Compartilhar no Twitter"
              (onClick)="compartilharNoTwittwer()">
    </p-button>
  </div>


</div>





<!-- Skeleton -->
<div *ngIf="loading" class="flex flex-col gap-4">
  <div *ngFor="let n of [1,2,3,4,5,6,7,8,9,10,11,12,13]" class="rounded-md p-4 shadow-md bg-white flex flex-col gap-2 animate-pulse">
    <div class="flex items-center justify-between gap-4">
      <div class="w-1/12 text-center font-semibold">
        <p-skeleton width="1rem" height="1rem"></p-skeleton>
      </div>

      <div class="flex-1 flex items-center gap-3">
        <div class="w-10 h-10 rounded-full bg-gray-300">
          <p-skeleton shape="circle" width="40px" height="40px"></p-skeleton>
        </div>
        <p-skeleton width="150px" height="1.2rem"></p-skeleton>
      </div>

      <div class="shrink-0 w-8 text-right">
        <p-skeleton width="24px" height="24px"></p-skeleton>
      </div>
    </div>
  </div>
</div>

<!-- Lista real -->

<div cdkDropList
     [cdkDropListData]="items"
     (cdkDropListDropped)="onDrop($event)"
     class="flex flex-col gap-4 container-principal"  id="ranking-compartilhavel"
>
  <div class="my-1">
    <p class="text-center text-2xl font-bold">Rank My Diego</p>
    <p class="text-center text-sm" style="color: #364153">Esse é o meu top das músicas da Diego</p>
  </div>
  <div *ngFor="let item of items; let index = index" cdkDragHandle
       cdkDrag
       class="rounded-md p-4 shadow-md bg-white item"
  >
    <!-- Header -->
    <div class="flex justify-between gap-4">

      <div class="w-1/12 text-center font-semibold">{{ index + 1 }}º</div>

      <div class="flex-1 flex  gap-3">
        <div class="dash-logo shrink-0">
          <img class="img-logo object-cover" [src]="item.icon" alt="logo" />
        </div>
        <span class="truncate">{{ item.name }}</span>
      </div>

      <div class="shrink-0 w-8 text-right no-print">
        <ng-container *ngIf="showPlayer && itemClickedId === item.id; else play">
          <i class="fas fa-circle-xmark text-red-400 text-2xl cursor-pointer"
             (click)="emitPlayerClick(item, 'close')"></i>
        </ng-container>
        <ng-template #play>
          <i class="fas fa-circle-play play-btn text-2xl cursor-pointer"
             (click)="emitPlayerClick(item, 'play')"></i>
        </ng-template>
      </div>
    </div>


    <!-- Player -->
    <div *ngIf="showPlayer && itemClickedId === item.id" class="mt-2">
      <p-skeleton *ngIf="iframeLoading" width="100%" height="200px" [style]="{ 'border-radius': '12px' }"></p-skeleton>
      <iframe
        [src]="getSpotifyEmbedUrl(item.albumId)"
        width="100%"
        height="200"
        frameborder="0"
        style="border-radius:12px"
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        loading="lazy"
        (load)="onIframeLoad()"
      ></iframe>
    </div>
  </div>
</div>
