p {
  margin: 30px 5px !important;
  text-align: justify;
  text-justify: inter-word;
}

iframe{
  padding: 0px 20px;
}

.redes {
 font-size:20px;
 padding: 8px;
 border-radius:15%;
 background-color: #7D5FFF;
 color: white;
}