<main>
  <a >
    <!-- <header [routerLink]="['/']" class="brand-name">
      <img class="brand-logo" src="/assets/logo.svg" alt="logo" aria-hidden="true" />
    </header> -->

    <header class="bg-white shadow-md mb-5" #header>
      <div class="mx-auto px-4 sm:px-6 lg:px-4">
        <div class="flex justify-between items-center h-16">

          <!-- Logo -->
          <div class="flex-shrink-0 flex items-center">
            <a routerLink="/" class="text-xl font-bold text-indigo-600 hover:text-indigo-800">
              Rank My Diego
            </a>
          </div>

          <!-- Menu desktop -->
          <nav class="hidden md:flex">
            <a routerLink="/diego-martins" class="text-gray-700 hover:text-indigo-600 px-3 py-2 rounded-md text-sm font-medium">Diego Martins</a>
            <a routerLink="/sobre" class="text-gray-700 hover:text-indigo-600 px-3 py-2 rounded-md text-sm font-medium">Sobre o App</a>
            <a routerLink="/" class="text-gray-700 hover:text-indigo-600 px-3 py-2 rounded-md text-sm font-medium">Início</a>
          </nav>

          <!-- Menu hamburguer mobile -->
          <div class="flex md:hidden">
            <p-menu #menu [model]="items" [popup]="true"[appendTo]="header" />
            <p-button #menuBtn
              icon="fa fa-bars"
              (click)="menu.toggle($event)"
              styleClass="custom-menu"
              [style]="{ 'background-color': '#6C8CD5', 'border': '1px solid #6C8CD5' }"/>
            </div>
        </div>
      </div>
    </header>

  </a>
  <section class="content p-2">
    <p-toast position="center"></p-toast>
    <router-outlet></router-outlet>
  </section>
</main>