<main>
  <a >

    <header class="bg-white shadow-md " #header>
      <div class="mx-auto px-4 sm:px-6 lg:px-4">
        <div class="flex justify-between items-center h-16">

          <!-- Logo -->
          <div class="flex items-center">
            <a routerLink="/">
              <img src="assets/images/logo-crown.png" style="width: 250px">
            </a>
          </div>
           <!-- banner de novidades -->
           <div class="banner-novidade flex items-center ml-2 mr-2 text-gray-700 font-weight-bold background-white">
            <div class="scroll-content">


              <div class="item-banner">
                <a href="https://open.spotify.com/album/0UFiIp4aj71h2CEAymFy7T?si=g1kxnSACTG--v8tonZHeyQ" target="_blank" rel="noopener noreferrer">
                  <div class="flex flex-col mr-1 pl-2" style="white-space: nowrap;">
                      <span style="font-size: 9px;" class="text-red-700">OUÇA NO SPOTIFY</span>
                      <span style="font-size: 9px;">De Quinta a Domingo</span>
                      <span style="font-size: 7px;">Diego Martins ft. Belo</span>
                  </div>
                </a>
                <div>
                  <a href="https://open.spotify.com/album/0UFiIp4aj71h2CEAymFy7T?si=g1kxnSACTG--v8tonZHeyQ" target="_blank" rel="noopener noreferrer">
                    <img src="assets/images/dequintaadomingo.jpeg" style="border-radius: 10px;">
                  </a>
                </div>
              </div>

            </div>
          </div>

          <!-- Menu desktop -->
          <nav class="hidden md:flex">
            <a routerLink="/diego-martins" class="text-gray-700 hover:text-indigo-600 px-3 py-2 rounded-md text-sm font-medium">Diego Martins</a>
            <a routerLink="/sobre" class="text-gray-700 hover:text-indigo-600 px-3 py-2 rounded-md text-sm font-medium">Sobre o App</a>
            <a routerLink="/" class="text-gray-700 hover:text-indigo-600 px-3 py-2 rounded-md text-sm font-medium">Início</a>
          </nav>

          <!-- Menu hamburguer mobile -->
          <div class="flex md:hidden">
            <p-menu #menu [model]="items" [popup]="true"[appendTo]="header" />
            <p-button #menuBtn
              icon="fa fa-bars"
              (click)="menu.toggle($event)"
              styleClass="custom-menu"
              [style]="{ 'background-color': '#7D5FFF', 'border': '1px solid #7D5FFF' }"/>
            </div>
        </div>
      </div>
    </header>
    <p-progressbar *ngIf="visible$ | async" mode="indeterminate" [style]="{ 'height': '3px'}" />

  </a>
  <section class="content p-2">
    <p-toast position="center"></p-toast>
    <router-outlet></router-outlet>
  </section>
  <footer class="flex justify-center items-center gap-1 footer">
    <i class="fa fa-envelope" style="color: #7D5FFF"></i>
    <a href="mailto:dallyla_@outlook.com" target="_blank" rel="noopener noreferrer" style="color: #7D5FFF">devlyla™ {{ year}}</a>
  </footer>
</main>