body, html {
  background-color: #cccccc,
}

.custom-menu-button .p-button {
  background-color: #6C8CD5 !important;
  border: 1px solid #6C8CD5 !important;
  color: #ffffff !important;
}

::ng-deep .p-progressbar .p-progressbar-value {
  background-color: #7D5FFF !important;
}


.banner-novidade img {
  max-width: 47px;   /* tamanho máximo no desktop */
  width: 100%;       /* ocupa o espaço disponível proporcionalmente */
  height: auto;      /* mantém proporção */
  border-radius: 10px;
  display: block;
  object-fit: contain; /* evita distorção */
  margin: 0 auto;    /* centraliza */
}


.banner-novidade {
  position: relative;
  overflow: hidden; /* Esconde o que sai da área visível */
  width: 300px; /* Ajuste para a largura que quiser */
  background-color: transparent;
  justify-content: center;
}

.banner-novidade .scroll-content {
  display: flex;
  white-space: nowrap;
}

.banner-novidade .item-banner {
  display: inline-flex;
  align-items: center;
  /* padding-right: 2rem; */
}

.item-banner {
  border: none;
  border-radius: 15px;

}

.item-banner:active {
  background-color: transparent !important;
}


