<p-card>
  <p>
    💜 Este web app foi criado com muito carinho por fãs do artista Diego Martins! A ideia é aproximar ainda mais a comunidade e também apresentar o talento dele para quem ainda não conhece.
  </p>
  <p>
    📱 Desenvolvido com o princípio <strong>mobile first</strong>, ele funciona super bem em celulares, mas também está prontinho pra quem quiser acessar no computador ou notebook.
  </p>
  <p>
    💌 Dúvidas, sugestões, elogios ou bugs? Fala com a desenvolvedora: <a class="mail" href="mailto:dallyla_@outlook.com" target="_blank" rel="noopener noreferrer">dallyla_&#64;outlook.com</a>
  </p>

</p-card>
